https://registry.npmjs.org/:_authToken=${NPM_TOKEN}
@grandvision:registry=https://registry.npmjs.org/
https://npm.pkg.github.com/:_authToken=${GPR_TOKEN}
@grandvisionhq:registry=https://npm.pkg.github.com/
